* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.page-content {
    position: relative;
}

.whatsapp-link {
    display: none;
    font-size: 30px;
}

.all-content {
    max-width: 430px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;

}

header {
    width: 100%;
    background-color: #128C7E;
    padding: 4px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display-digit {
    width: 100%;
    background-color: #B9C4B4;
    padding: 0;
    font-size: 1.8em;
    height: 60px;
    text-align: center;
    color: #474742;
    border: none;
}

/* Dial Pad Design  */

.generate-btn:focus {
    outline: none;
    box-shadow: none;
}

input[type='text'] {
    background-color: #e2e2e2;
    padding: 10px 0px;
    color: #128C7E;
    width: 100%;
    margin: 0 auto;
    /* border: 2px solid #858299; */
    height: 50px;
    padding: 10px;
}

input[type='text']:focus {
    background-color: #e2e2e2;
    color: #128C7E;
    font-size: 20px;
}


.calc-body {
    margin: 30px 0;
    position: relative;
    align-items: center;
    justify-content: center;
    position: relative;
}

.calc-typed {
    margin-top: 20px;
    font-size: 45px;
    text-align: right;
    color: #fff;
}

.calc-button-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 40%;
    background: #425062;
    color: #fff;
    padding: 20px 0;
    margin: 0px;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #4c5c71;
    /* margin-right: -4px; */
    /* border-radius: 10px; */
    cursor: pointer;
}

.blink-me {
    color: #E0B612;
}



.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
}

.notify-section {
    width: 35%;
    margin: 0 auto;
}

.action-left {
    color: #FF3C5F;
    margin-top: 10px;
}

/* message */

.message,
h2 {
    text-align: center;
    color: #038475;
}

.message,
h3 {
    text-align: center;
    color: #038475;
}

/* Bottom Section */
.bottom-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Call Button */
.call-btn {
    width: 100%;
    border: none;
    font-size: 20px;
    background: #038475;
    color: #fff;
    padding: 10px 0px;
    height: 60px;
}